*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --nb-hover-color: #E92A4B;
    --nb-hover-icon-color: #2AE9C8;
    --function-color: #E92A4B;
    --header-text-color: #e0e0e0;
}
::selection {
    color: white;
    background: #E92A4B;
}
.title{
    font-weight: 700;
    word-spacing: -1rem;
    white-space: nowrap;
    color:var(--header-text-color);
}
.func{
    color:var(--function-color);
}
.bitricolor{
    background: linear-gradient(180deg, #550834 0%, rgb(14, 17, 22) 9vh 10%);
    min-height: 9vh;
    position: relative;
}
#tricolorsvg{
    display: block;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80rem;
    position: relative;
    top: 5vh;
    margin: 0 auto;
}
.header-navbar ul{
    display:flex;
    align-items:center;
    list-style:none
}
.header-navbar ul li{
    margin: 0px 20px;
}
.header-navbar ul li a{
    text-decoration: none;
    transition: color .2s ease-out;
    color:var(--header-text-color);
}
.header-navbar ul li a svg{
    transition: fill .3s cubic-bezier(.83,.4,.17,.62);
}
.header-navbar ul li a:hover{
    color:var(--nb-hover-color)
}
.header-navbar ul li a:hover svg{
    fill:var(--nb-hover-icon-color)
}
#container{
    /*padding: calc(20vh - 3.5rem) 0 0;*/
    margin: 20vh 30vh 30vh;
    min-height: 100vh;
}
.container-tags{
    font-size: 1.17em;
    font-weight: 700;
    color:var(--function-color);
    display: block;
    margin-bottom: 5rem;
}
.tags{
    font-size: 1.17em;
    font-weight: 700;
    
    color:var(--function-color);
}
.personal-intro{
    box-sizing: border-box;
    height: 80vh;
}
.intro-title{
    font-size: 5rem;
    word-spacing: -1rem;
    white-space: nowrap;
    color:var(--header-text-color)
}
.personal-intro .name{
    font-size: 2.5rem;
    color:var(--function-color);
}
.cv{
    height: 50vh;
    box-sizing: border-box;
}
.cv-header{
    font-size: 4rem;
    color:var(--header-text-color);
}
.cv-header .func{
    font-size: 3rem;
}
.cv-header ul a svg{
    fill:var(--function-color);
    transition: fill .3s cubic-bezier(.83,.4,.17,.62);
}
.cv-header ul a:hover svg{
    fill:var(--nb-hover-icon-color)
}
.skills{
    height: 50vh;
}
.skills h1{
    font-size: 3rem;
    color:var(--header-text-color);
}
.skills ul{
    display: flex;
}
.skills ul li{
    margin: 1rem;
    list-style-type: none;
}
.projects{
    min-height: 50vh;
}
.projects h1{
    font-size: 3rem;
    color:var(--header-text-color);
    margin-bottom: 2rem;
}
.projects-cards{
    box-sizing: inherit;
}
.projects-cards ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    place-content: center;
}
.projects-cards ul li{
    list-style: none;
}
.proj-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects-cards ul li div{
    width: 270px;
    background-color: #222935;
}
.projects-cards ul li div p{
    margin: 1rem;
    word-wrap: break-word;
}
.projects-cards ul li div img{
    margin: 10px;
}
.projects-cards ul li div a{
    transition: color .2s ease-out;
    transition: background-color .2s ease-out;
    background-color:var(--function-color);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 10px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-family: inherit;
}
.projects-cards ul li div a:hover{
    background-color:var(--nb-hover-icon-color);
    color:var(--nb-hover-color);
}
.projects-cards ul li div a:hover svg{
    fill:var(--nb-hover-color);
}
.separator{
    height: 30vh;
}
.made-with{
    margin-bottom: 10rem;
}
.made-with h1{
    margin-bottom: 2rem;
}
.made-with-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}
.made-with-flex ul .made-with-col-title{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.made-with ul li{
    color: var(--function-color);
    list-style: none;
    white-space: nowrap;
}
.made-with ul li a{
    transition: color .2s ease-out;
    color: var(--function-color);
    text-decoration: none;
}
.made-with ul li a:hover{
    color: var(--nb-hover-icon-color);
}
.about-personal{
    box-sizing: border-box;
    height: auto;
    margin-bottom: 5rem;
}
.about-personal p{
    margin-bottom: 1rem;
}
.about-title{
    font-size: 5rem;
    word-spacing: -1rem;
    white-space: nowrap;
    color:var(--header-text-color)
}
.about-title .name{
    font-size: 2.5rem;
    color:var(--function-color);
}
.about-grids ul li{
    list-style: none;
}
.about-grids h2{
    margin-bottom: 1rem;
    color:var(--header-text-color);
}
.about-skills{
    margin-bottom: 2rem;
}
.about-also{
    margin-bottom: 2rem;
}



footer{
    font-size: small;
    text-align: center;
}