:root {
  --nb-hover-color: #e92a4b;
  --nb-hover-icon-color: #2ae9c8;
  --function-color: #e92a4b;
  --header-text-color: #e0e0e0;
}
.container-tags,
.tags,
.func,
.about-tags {
  color: var(--function-color);
}
section {
  padding-left: 10vw;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.separator {
  height: 4rem;
}
/* footer */
footer {
  text-align: center;
  padding-bottom: 2rem;
}
/* tricolor */
#tricolorsvg {
  display: block;
  width: 100%;
}
.bitricolor {
  background: linear-gradient(180deg, #550834 0%, rgb(14, 17, 22) 9vh 10%);
  min-height: 9vh;
  position: relative;
}
/* navbar */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  top: 5vh;
  margin: 0 auto;
}
.nav-breadcrumb {
  font-weight: 700;
  white-space: nowrap;
  color: var(--header-text-color);
}
/* navbar desktop */
.header-navbar-desktop ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.header-navbar-desktop ul li {
  margin: 0 1rem;
}
.header-navbar-desktop ul li a {
  text-decoration: none;
  transition: color 0.2s ease-out;
  color: var(--header-text-color);
}
.header-navbar-desktop ul li a svg {
  fill: var(--function-color);
  transition: fill 0.3s cubic-bezier(0.83, 0.4, 0.17, 0.62);
}
.header-navbar-desktop ul li a:hover {
  color: var(--nb-hover-color);
}
.header-navbar-desktop ul li a:hover svg {
  fill: var(--nb-hover-icon-color);
}
.github-desktop,
.linkedin-desktop {
  height: 1.56rem;
  width: 1.56rem;
}
/* navbar mobile */
.nav-responsive-icons {
  position: fixed;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  z-index: 10;
}
.navbar-mobile {
  position: fixed;
  right: 0;
  bottom: 150px;
}
.header-navbar-mobile ul {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  list-style: none;
  background-color: #242424;
  padding-top: 3rem;
  z-index: 9;
}
.navbar-icons-mobile {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  list-style: none;
  row-gap: 2rem;
  right: 0;
}
.header-navbar-mobile ul li {
  display: block;
  text-align: right;
  padding-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 1rem;
}
.header-navbar-mobile ul li a {
  text-decoration: none;
  transition: color 0.2s ease-out;
  color: var(--header-text-color);
}
.header-navbar-mobile ul li a svg {
  fill: var(--function-color);
  transition: fill 0.3s cubic-bezier(0.83, 0.4, 0.17, 0.62);
}
.header-navbar-mobile ul li a:hover {
  color: var(--nb-hover-color);
}
.header-navbar-mobile ul li a:hover svg {
  fill: var(--nb-hover-icon-color);
}
.github-mobile,
.linkedin-mobile {
  width: 4rem;
  height: 4rem;
}
/* tags */
.container-tags {
  display: inline-block;
  padding-left: 10vw;
  margin: 2rem 0 2rem;
}
.tags {
  display: inline-block;
  margin: 4rem 0;
}
.about-tags {
  display: inline-block;
  padding: 2rem 10vw;
}
/* home intro */
.personal-intro {
  min-height: 60vh;
}
.intro-title {
  font-size: 2.9rem;
  color: var(--header-text-color);
}
.personal-intro .name {
  font-size: 2rem;
  color: var(--function-color);
}
/* curriculum vitae */
.cv {
  min-height: 57vh;
  /* min-height: 70vh; */
}
.cv-header {
  font-size: 2rem;
  word-spacing: -0.4rem;
  white-space: nowrap;
  color: var(--header-text-color);
}
.cv-button {
  display: inline;
  padding-top: 2rem;
  fill: var(--function-color);
  transition: fill 0.3s cubic-bezier(0.83, 0.4, 0.17, 0.62);
}
.cv-button:hover {
  fill: var(--nb-hover-icon-color);
}
/* skills home */
.skills {
  min-height: 70vh;
}
.skills-title {
  font-size: 1.6rem;
  color: var(--header-text-color);
}
.skills ul {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 1rem 1rem 0 0;
  gap: 1.5rem;
}
.skills ul li {
  list-style: none;
}
.skills-svg {
  width: 60px;
  height: 60px;
}
/* projects */
.projects {
  min-height: 70vh;
  overflow-x: hidden;
}
.projects-title {
  font-size: 2rem;
  color: var(--header-text-color);
  padding-bottom: 1rem;
}
.projects-carousel-container {
  width: calc(100% - 2rem);
  overflow: hidden;
  cursor: grab;
}
.projects-cards {
  display: flex;
  gap: 2rem;
}
.proj-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 620px;
  width: 270px;
  background-color: #222935;
  border-radius: 10px;
}
.description {
  margin: 1rem;
  word-wrap: break-word;
}
.proj-card img {
  margin: 10px;
}
.proj-buttons-container {
  position: absolute;
  bottom: 2rem;
  justify-content: space-between;
}
.proj-button {
  transition: color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  background-color: var(--function-color);
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
}
.project-github {
  fill: var(--nb-hover-icon-color);
  margin-right: 10px;
  width: 1rem;
  height: 1rem;
}
.proj-button:hover {
  background-color: var(--nb-hover-icon-color);
  color: var(--nb-hover-color);
}
.proj-button:hover .project-github {
  fill: var(--nb-hover-color);
}
/* made with */
.made-with {
  padding-bottom: 10rem;
}
.made-with .tags {
  margin-bottom: 2rem;
}
.made-with-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 8rem;
  width: 50%;
}
.made-with-col-title {
  font-size: 1.17em;
  font-weight: bold;
  color: var(--header-text-color);
}
.made-with ul li {
  color: var(--function-color);
  list-style: none;
  white-space: nowrap;
}
.made-with ul li a {
  transition: color 0.2s ease-out;
  color: var(--function-color);
  text-decoration: none;
}
.made-with ul li a:hover {
  color: var(--nb-hover-icon-color);
}
/* about intro */
.about-personal {
  min-height: 35vh;
  margin-bottom: 4rem;
}
.about-title {
  font-size: 2.5rem;
  color: var(--function-color);
}
.about-ghub-linkedin {
    display: flex;
}
.about-ghub-linkedin svg {
    margin: 0 1rem 1rem 0;
    fill: var(--nb-hover-color);
    transition: fill 0.3s cubic-bezier(0.83, 0.4, 0.17, 0.62);
}
.about-ghub-linkedin svg:hover {
    fill: var(--nb-hover-icon-color);
  }
.about-github {
    margin: 0 1rem 0 0;
    width: 3rem;
    height: 3rem;
}
.about-linkedin {
    width: 3rem;
    height: 3rem;
}
.about-cv-button {
    transition: fill 0.3s cubic-bezier(0.83, 0.4, 0.17, 0.62);
    padding-bottom: 1rem;
}
.about-cv-button:hover {
    fill: var(--nb-hover-icon-color);
}
.about-personal p {
  margin-bottom: 1rem;
}
/* about skills */
.about-skills {
  margin-bottom: 2rem;
}
.about-skills h2 {
  margin-bottom: 1rem;
}
.skills-grid {
  display: grid;
  max-width: 70%;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 2rem;
}
/* about also */
.about-also {
  margin-bottom: 2rem;
}
.about-also h2 {
  margin-bottom: 1rem;
}
/* error page */
.error {
  position: absolute;
  display: flex;
  width: 100%;
  height: 86%;
  align-items: center;
}
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.error-text {
  display: inherit;
  flex-direction: inherit;
  align-items: center;
}
.error-header {
  color: var(--function-color);
  font-size: 8rem;
}
.error-subheader {
  color: var(--header-text-color);
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.error-flavour {
  font-size: 1.2rem;
  text-align: center;
}
.error-flavour span {
color: var(--nb-hover-icon-color);
}
.error-image {
  width: 30%;
  z-index: 1;
}
@media only screen and (max-width: 1100px) {
  .header-container {
    max-width: 90vw;
  }
  .error-image {
    width: 40%;
  }
  .made-with-grid {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 8rem;
    width: 60%;
  }
}
@media only screen and (max-width: 800px) {
  .nav-breadcrumb {
    position: absolute;
    top: 1.4rem;
    left: 1rem;
  }
  section {
    padding-left: 1rem;
  }
  .container-tags {
    display: inline-block;
    padding-left: 1rem;
    margin: 2rem 0 2rem;
  }
  .tags {
    display: inline-block;
    margin: 4rem 0;
  }
  .about-tags {
    display: inline-block;
    padding: 2rem 1rem;
  }
  .projects-carousel-container {
    width: calc(100vw - 2rem);
    overflow: hidden;
  }
  .made-with-grid {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 4rem;
  }
}
@media only screen and (max-width: 670px) {
  .skills-grid {
    display: grid;
    width: 80%;
    grid-template: 1fr / 1fr;
    gap: 1rem;
  }
  .error-subheader {
    color: var(--header-text-color);
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 1rem;
  }
  .error-flavour {
    font-size: 1rem;
    padding: 0 3rem;
  }
  .error-image {
    width: 100%;
  }
}
