:root{
    --nb-hover-color: #E92A4B;
    --nb-hover-icon-color: #2AE9C8;
    --function-color: #E92A4B;
    --header-text-color: #e0e0e0;
}
.func{
    color:var(--function-color);
}
.container-tags, .tags {
    color: var(--function-color);
}
a {
    text-decoration: none;
}
/* footer */
footer {
    text-align: center;
    padding-bottom: 2rem;
}
/* tricolor */
#tricolorsvg{
    display: block;
}
.bitricolor{
    background: linear-gradient(180deg, #550834 0%, rgb(14, 17, 22) 9vh 10%);
    min-height: 9vh;
    position: relative;
}
/* navbar */
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    /* position: relative; */
    top: 5vh;
    margin: 0 auto;
}
.nav-breadcrumb{
    font-weight: 700;
    white-space: nowrap;
    color:var(--header-text-color);
}
/* navbar desktop */
.header-navbar-desktop ul {
    display:flex;
    align-items:center;
    list-style:none
}
.header-navbar-desktop ul li{
    margin: 0 1rem;
}
.header-navbar-desktop ul li a{
    text-decoration: none;
    transition: color .2s ease-out;
    color:var(--header-text-color);
}
.header-navbar-desktop ul li a svg{
    color: var(--function-color);
    transition: fill .3s cubic-bezier(.83,.4,.17,.62);
}
.header-navbar-desktop ul li a:hover{
    color:var(--nb-hover-color)
}
.header-navbar-desktop ul li a:hover svg{
    fill:var(--nb-hover-icon-color)
}
.github-desktop, .linkedin-desktop {
    height: 1.56rem;
    width: 1.56rem;
}
/* navbar mobile */
.nav-responsive-icons {
    position: fixed;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    z-index: 10;
}
.navbar-mobile {
    position: fixed;
    right: 0;
    bottom: 150px;
}
.header-navbar-mobile ul {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    list-style:none;
    background-color: #242424;
    padding-top: 3rem;
}
.navbar-icons-mobile {
    display:flex;
    position: fixed;
    flex-direction: row;
    align-items:center;
    list-style:none;
    row-gap: 2rem;
    right: 0;
}
.header-navbar-mobile ul li{
    display: block;
    text-align: right;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 1rem;
}
.header-navbar-mobile ul li a{
    text-decoration: none;
    transition: color .2s ease-out;
    color:var(--header-text-color);
}
.header-navbar-mobile ul li a svg{
    fill: var(--function-color);
    transition: fill .3s cubic-bezier(.83,.4,.17,.62);
}
.header-navbar-mobile ul li a:hover{
    color:var(--nb-hover-color)
}
.header-navbar-mobile ul li a:hover svg{
    fill:var(--nb-hover-icon-color)
}
.github-mobile, .linkedin-mobile {
    width: 4rem;
    height: 4rem;
}
/* tags */
.container-tags {
    display: inline-block;
    padding-left: 1rem;
    margin: 6rem 0 2rem;
}
.tags {
    display: inline-block;
    margin: 4rem 0;
}
/* home intro */
.personal-intro {
    min-height: 60vh;
    padding-left: 1rem;
}
.intro-title {
    font-size: 2.9rem;
    color:var(--header-text-color)
}
.personal-intro .name {
    font-size: 2rem;
    color:var(--function-color);
}
/* curriculum vitae */
.cv {
    min-height: 70vh;
    padding-left: 1rem;
}
.cv-header {
    font-size: 2rem;
    color:var(--header-text-color);
}
.cv-button {
    display: block;
    padding-top: 2rem;
    fill:var(--function-color);
    transition: fill .3s cubic-bezier(.83,.4,.17,.62);
}
.cv-button:hover {
    fill:var(--nb-hover-icon-color)
}
/* skills home */
.skills {
    min-height: 70vh;
    padding-left: 1rem;
}
.skills-title {
    font-size: 1.6rem;
    color:var(--header-text-color);
}
.skills ul {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.skills ul li {
    list-style: none;
}
.skills-svg {
    width: 60px;
    height: 60px;
}
/* projects */
.projects {
    min-height: 70vh;
    padding-left: 1rem;
}
.projects-title {
    font-size: 2rem;
    color:var(--header-text-color);
    padding-bottom: 1rem;
}
.projects-cards {
    display: inline-flex;
    gap: 3rem;
    place-content: center;
}
.proj-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    background-color: #222935;
    border-radius: 10px;
}
.description {
    margin: 1rem;
    word-wrap: break-word;
}
.proj-card img {
    margin: 10px;
}
.proj-button {
    transition: color .2s ease-out;
    transition: background-color .2s ease-out;
    background-color:var(--function-color);
    border-radius: 5px;
    color: white;
    padding: 10px 10px;
    margin: 20px;
}
.project-github {
    fill: var(--nb-hover-icon-color);
    margin-right: 10px;
    width: 1rem;
    height: 1rem;
}
.proj-button:hover {
    background-color:var(--nb-hover-icon-color);
    color:var(--nb-hover-color);
}
.proj-button:hover .project-github {
    fill: var(--nb-hover-color);
}
/* made with */
.made-with {
    padding-left: 1rem;
    padding-bottom: 10rem;
}
.made-with .tags {
    margin-bottom: 2rem;
}
.made-with-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 4rem;
}
.made-with ul li{
    color: var(--function-color);
    list-style: none;
    white-space: nowrap;
}
.made-with ul li a{
    transition: color .2s ease-out;
    color: var(--function-color);
    text-decoration: none;
}
.made-with ul li a:hover{
    color: var(--nb-hover-icon-color);
}



@media only screen and (max-width:1100px) {
    .header-container{
        max-width: 90vw;
    }
}
@media only screen and (max-width:800px) {
    .nav-breadcrumb{
        position: absolute;
        top: 1.4rem;
        left: 1rem;
    }
}
