*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection {
    color: #ffffff;
    background: #E92A4B;
}
body{
    width: 100%;
    height: 100%;
    background: #0e1116;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    color: #c5c5c5d7;
}
