*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection {
    color: #ffffff;
    background: #E92A4B;
}
body{
    width: 100%;
    height: 100%;
    background: #0e1116;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
    color: #c5c5c5d7;
}
#tricolorsvg{
    display: block;
}
.bitricolor{
    background: linear-gradient(180deg, #550834 0%, rgb(14, 17, 22) 9vh 10%);
    min-height: 9vh;
    position: relative;
}